<div class="float-right flex space-x-4">
  <app-base-button
    buttonClass="font-bold text-base btn-primary w-full"
    buttonText="Add User"
    type="submit"
    buttonIcon="add"
    color="primary"
    variation="stroked"
    (click)="addUser()"
  ></app-base-button>
</div>

<app-generic-table
  *ngIf="users"
  [columnsToDisplay]="columnsToDisplay"
  [displayColumns]="displayColumns"
  [data]="users"
  (selectedElementValue)="selectUser($event)"
  [template]="userDetails"
>
</app-generic-table>

<ng-template #userDetails>
  <app-user-details
    *ngIf="selectedUser"
    (editUserEvent)="editUser($event)"
    [user]="selectedUser"
  ></app-user-details>
</ng-template>
