<div class="root" *ngIf="isAuthenticated; else showLogin">
  <app-nav-bar></app-nav-bar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      opened="{{ this.sideBarService.sideBarOpen }}"
      class="sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
    >
      <app-side-bar [navItems]="navItems"> </app-side-bar>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-loader></app-loader>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<app-git-version-modal></app-git-version-modal>

<ng-template #showLogin>
  <router-outlet></router-outlet>
</ng-template>
