<div class="w-full flex">
  <ngx-avatar [name]="company?.name" [round]="false" [size]="100"></ngx-avatar>
  <div class="ml-6 mb-5">
    <p class="">Created on: {{ company?.createdOn }}</p>
    <p class="">Updated on: {{ company?.updatedOn }}</p>
    <app-base-button
      buttonClass="font-bold  btn-primary w-full"
      buttonText="Edit Company"
      type="submit"
      buttonIcon="edit"
      color="primary"
      variation="stroked"
      (click)="editCompany()"
    ></app-base-button>
  </div>
</div>
